* {
  --header-font: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  --nav-font: Arial, Helvetica, sans-serif;
  --header-color: #171D25;
  --main-color: #1D2D4A;
  scrollbar-color: rgb(96,101,109) rgb(25, 34, 46);
}

*::-moz-scrollbar-thumb:active {
  background-color: #004080; /* Cor do thumb ao clicar no Firefox */
}

/* WebKit (Chrome, Edge, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
  height: 8px; /* Altura da scrollbar horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #6CC1F4; /* Cor padrão do thumb */
  border-radius: 10px; /* Arredonda os cantos */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004080; /* Cor do thumb ao passar o mouse */
}

::-webkit-scrollbar-thumb:active {
  background-color: #002850; /* Cor do thumb ao clicar */
}

::-webkit-scrollbar-track {
  background-color: #316282; /* Cor do track (fundo da scrollbar) */
  border-radius: 10px;
}

.header {
  padding: 1rem 0 1rem 0;
  background-color: var(--header-color);
}

.main {
  background-color: var(--main-color);
  min-height: 100vh;
}

.header-text {
  font-family: var(--header-font);
}

.nav-home {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 0rem 0.3rem 0rem 0.3rem;
  border-radius: 0.3rem;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
  height: 42px;
}

.main-nav {
  padding-top: 2rem;
}

.nav-home a {
  white-space: nowrap;
  height: 100%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.nav-home a:hover {
	background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.nav {
  width: 100%;
}

.store {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: rgba(13, 110, 253)
}

.div-header-nav {
  gap: 1rem;
}

.brand-hamburguer {
  padding-left: 15%;
}

.brand {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.input-home {
  background-color: #316282;
  padding: 0.15rem;
  border-radius: 0.25rem;
  border: 0.5px solid transparent;
  height: 96%;
}

.input-home > input {
  background-color: #316282;
  border: none;
  border-radius: 0.25rem;
}

.input-home > button {

  background-color: #6CC1F4;
  border: none;
  border-radius: 0.15rem;
}

.input-home > button > img {
  background-image: url('/public/images/v6/search_icon_btn.png');
}

.input-home > input:focus {
  background-color: #316282; /* Mantém a cor de fundo ao focar */
  color: #fff; /* Mantém a cor do texto ao focar */
  outline: none; /* Remove o contorno padrão */
  box-shadow: none; /* Remove o efeito de sombra */
}

.input-group > button:focus {
  outline: none;
  box-shadow: none;
}

.input-home:hover {
  border: 0.5px solid #6CC1F4;
}

.input-home > input:focus::placeholder {
  color: transparent;
}


@media (max-width: 768px) {
  .brand-hamburguer {
    width: 100%;
    padding-left: 1rem;
  }
}

@media (max-width: 992px) {
  .nav-home {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }

  .main-nav {
    padding: 0;
  }

  .input-home {
    width: 98%;
  }

  .main-nav .container {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100vw;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }
}