* {
  --header-font: "Arial" "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}

.infos-iniciais {
  display: flex;

  background-color: #173c4f;
}

.inicio-jogo {
  padding-left: 11.7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #173c4f;
}

#carouselExample {
  min-height: 110px;
  align-self: flex-start;
}
.carousel-inner .row {
  margin: 0;
}

.carousel-inner .col-4 {
  padding: 5px;
}

#carouselExample .carousel-indicators .botao {
  background-color: #0c1218;
  border-radius: 3px;
  height: 18px;
  width: 60px;
  cursor: pointer;
  margin: 0;
  opacity: 1;
}
#carouselExample .carousel-indicators .botao-voltar {
  background-color: #192734;
  width: 38px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  color: white;
  margin: 0px;
  font-size: 12px;
  border-radius: 3px;
  background-image: url("../assets//volta.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1px;
  opacity: 1;
}
#carouselExample .carousel-indicators .botao-avancar {
  opacity: 1;
  background-color: #192734;
  width: 38px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  color: white;
  margin: 0px;
  font-size: 12px;
  border-radius: 3px;
  background-image: url("../assets//avanca.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1px;
}

#carouselExample .carousel-indicators .botao-voltar:hover {
  opacity: 1;
  background-image: url("../assets//voltar_branco.png");
  background-color: #315a77;
}
#carouselExample .carousel-indicators .botao-avancar:hover {
  opacity: 1;
  background-image: url("../assets//avancar_branco.png");
  background-color: #315a77;
}

#carouselExample .carousel-indicators .active {
  background-color: #314e66; /* Cor azul mais clara */
}
.carousel-item {
  transition: transform 0.7s ease-in-out, opacity 1.5s ease-in-out;
}

.imagem-exemplo {
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
}
.infos-direita img {
  transform: scale(1);
  width: 71%;
  transform-origin: center; /* Garante que o redimensionamento seja centralizado */
}

.infos-direita {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1.5rem;
}
.infos-direita p {
    margin-top: 1rem;
  width: 71%;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 111px;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  padding-right: 16px;
  display: -webkit-box;
  color: #c6d4df;
}
.analise{
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 10px;
    min-width: 94px;
    color: #a3a3a3;
}
.analise-azul{
    color:#359fe6;
}